.question-box {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.question-box input[type="text"] {
  display: inline-block;
  flex: 1;
  font-size: 14px;
  padding: 4px;
  field-sizing: content;
  width: 70%;
}
  
.question-box input[type="text"]::placeholder {
  color: #ccc;
  font-style: normal;
}
  
.response-box {
  width: 90%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  position: relative;
}

.response-box p {
  text-align: left;
  vertical-align: text-bottom;
}