html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  background: #ffffffec;
  border-bottom: 1px solid #e6e5e5;
  padding: 18px 0;
}

.title {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 24px;

  font-size: 15px;
}

.main-page {
  width: 100%;
  max-width: 850px;
  box-sizing: border-box;
  padding: 50px 25px 75px;
  margin: 0 auto;
  flex: 1;
}

.intro-statement{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.intro {
  max-width: 720px;
  margin-bottom: 32px;
  font-family: Helvetica, sans-serif;
}

.intro h1 {
  margin: 8px 0 14px;
  color: #000054;
  font-size: xx-large;
  line-height: 1.1;
  letter-spacing: -0.05em;
}

.intro p {
  max-width: 650px;
  margin: 0;
  color: #000054;
  font-size: 18px;
}

.question-form {
  width: 100%;
  margin: 0 0 24px;
}

.question-form label {
  display: block;
  margin-bottom: 10px;
  color: #000054;
  font-weight: 600;
}

.question-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.question-box input[type="text"] {
  flex: 1;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
}
  
.question-box input[type="text"]::placeholder {
  color: #ccc;
}

.submit {
  height: fit-content;
  padding: 15px 20px;
  display: inline-flex;
  color: white;
  background: #000054;
  font-weight: 600;
}

.submit:hover {
  background: #010152;
  transform: translateY(-1px);
}
  
.response-box {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  background: #f2f5fa;
  border: 2px solid #000054;
  border-radius: 5px;
}

.response-question h3{
  margin: 4px 0 0;
}

.response-box p {
  text-align: left;
  vertical-align: text-bottom;
}

.question-label {
  font-size: 12px;
  font-weight: 700;
  color: #000054;
}

footer {
  padding: 30px 0 35px;
  background-color: #000054;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-top: auto;
}

.footer-content {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.disclamer {
  max-width: 100%;
}

.disclamer strong {
  display: block;
  color: white;
  font-size: 13px;
  margin-bottom: 5px;
}

.disclamer p {
  margin: 0;
  line-height: 1.5;
}

.disclamer a {
  color: #7BDDFF
}
