<!DOCTYPE html">
<html>

<head>
    <title>Victorian Rental Rights Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all" />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
</head>

<body>
    <header class="site-header">
        <div class="title">
            Census Enthusiasts (Group 68) - Case Studies in Data Science
        </div>
    </header>

    <main class="main-page">
        <section class="intro">
            <div>
                <span class="intro-statement">Victorian Rental Rights</span>
                <h1>Understand your rental rights</h1>
                <p>Ask a question to receive a response based on resources from Consumer Affairs Victoria</p>
            </div>  
        </section>

        <form class="question-form" action="/ask" method='POST' autocomplete="off">
            <div class="question-box">
                <input name="question" type="text" placeholder="For example: Can I have pets in my apartment?" autocapitalize="off" required>
                <button class="submit" type="submit" name="ask" value="Ask">
                    <span>Ask question</span>
                </button>
            </div>
        </form>

        {% if answer %}
        <div class="response-box">
            <div class="response-question">
                <span class="question-label">Your question:</span>  
                <h3>{{ question }}</h3>  
            </div>

            <div class="answer">{{ answer }}</div>
        </div>
        {% endif %}

        {% if citations %}
        <span class="citation-label">Citations used:</span>
        <div class="citation-block">
            {% for source in citations %}
            <div class="citation">
                <strong>{{ source['document_name'] }}</strong>
                <p>
                    Page {{ source['page'] }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                </p>
            </div>  
            {% endfor %}
        </div>
        {% endif %}
    </main> 

    <footer>
        <div class="footer-content">
            <div class="disclamer">
                <strong>Note:</strong> 
                <p>
                This is not legal advice, information provided is intended to be used as a guideline only. 
                Should you have further queries or concerns please reach out to a legal practitioner to assist you further. 
                The Law Institute of Victoria provides a search function to find legal help in your area. Access <a href="https://www.liv.asn.au/referral">here</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>